<br>
<br>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-11">
<div class="ibox">
     <div class="mail-box-header">
       <i class="fa fa-cube fa-2x pull-left" ></i>
       <h5><b>Technologies de Developpement Web</b></h5>
     </div>
     <div class="mail-box">
       <table class="table table-hover table-mail">
       <tbody>
       <tr class="read">
           <td class="mail-ontact"><a>MEAN Stack</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:90%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a>Java Entreprise Edition</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:80%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a>Actif Server Pages</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:65%">
           </div>
           </div>
           </td>
       </tr>
       </tbody>
       </table>
       </div>
</div>
<div class="row">
<div class="col-sm-6">
<div class="ibox">
     <div class="mail-box-header">
       <i class="fa fa-cube fa-2x pull-left" ></i>
       <h5><b>Languages de programmation</b></h5>
     </div>
     <div class="mail-box">
       <table class="table table-hover table-mail">
       <tbody>
       <tr class="read">
           <td class="mail-ontact"><a>C/C++ ; Assembleur</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:80%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a>Java</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:80%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a> Python</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:85%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a>PHP</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:86%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a>SQL</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:75%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a> JavaScript</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:75%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a> Android</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:65%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a> C# </a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:72%">
           </div>
           </div>
           </td>
       </tr>
       </tbody>
       </table>
       </div>
</div>
</div>
<div class="col-sm-6">
<div class="ibox">
     <div class="mail-box-header">
       <i class="fa fa-cube fa-2x pull-left" ></i>
       <h5><b>Frameworks</b></h5>
     </div>
     <div class="mail-box">
       <table class="table table-hover table-mail">
       <tbody>
       <tr class="read">
           <td class="mail-ontact"><a> AngularJs</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:95%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a> NodeJs</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:90%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a>  JSF </a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:80%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a>Spring ; Hibernate </a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:87%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a>Struts </a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:75%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a> jQuery</a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:75%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a> Bootstrap </a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:97%">
           </div>
           </div>
           </td>
       </tr>
       <tr class="read">
           <td class="mail-ontact"><a> Symfony </a></td>
           <td class="mail-subject">
           <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width:72%">
           </div>
           </div>
           </td>
       </tr>
       </tbody>
       </table>
       </div>
       </div>
       </div>
       <div class="row">
      <div class="col-sm-6">
       <div class="ibox">
            <div class="mail-box-header">
              <i class="fa fa-cube fa-2x pull-left" ></i>
              <h5><b>Système de gestion de base de données</b></h5>
            </div>
            <div class="mail-box">
              <table class="table table-hover table-mail">
              <tbody>
              <tr class="read">
                  <td class="mail-ontact"><a>MongoDB</a></td>
                  <td class="mail-subject">
                  <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:90%">
                  </div>
                  </div>
                  </td>
              </tr>
              <tr class="read">
                  <td class="mail-ontact"><a>MYSQL</a></td>
                  <td class="mail-subject">
                  <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:86%">
                  </div>
                  </div>
                  </td>
              </tr>
              <tr class="read">
                  <td class="mail-ontact"><a>SQLServer</a></td>
                  <td class="mail-subject">
                  <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:74%">
                  </div>
                  </div>
                  </td>
              </tr>
              <tr class="read">
                  <td class="mail-ontact"><a>Oracle</a></td>
                  <td class="mail-subject">
                  <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:83%">
                  </div>
                  </div>
                  </td>
              </tr>
              </tbody>
              </table>
              </div>
       </div>
       </div>
       <div class="col-sm-6">
       <div class="ibox">
            <div class="mail-box-header">
              <i class="fa fa-cube fa-2x pull-left" ></i>
              <h5><b>Outils de Test et Gestion de Dépendances</b></h5>
            </div>
            <div class="mail-box">
              <table class="table table-hover table-mail">
              <tbody>
              <tr class="read">
                  <td class="mail-ontact"><a>Maven</a></td>
                  <td class="mail-subject">
                  <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:85%">
                  </div>
                  </div>
                  </td>
              </tr>
              <tr class="read">
                  <td class="mail-ontact"><a>npm ; bower</a></td>
                  <td class="mail-subject">
                  <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:90%">
                  </div>
                  </div>
                  </td>
              </tr>
              <tr class="read">
                  <td class="mail-ontact"><a>karma</a></td>
                  <td class="mail-subject">
                  <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:75%">
                  </div>
                  </div>
                  </td>
              </tr>
              <tr class="read">
                  <td class="mail-ontact"><a>mocha</a></td>
                  <td class="mail-subject">
                  <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:72%">
                  </div>
                  </div>
                  </td>
              </tr>
              </tbody>
              </table>
              </div>
       </div>
       </div>
       </div>
       <div class="row">
       <div class="col-sm-6">
       <div class="ibox">
            <div class="mail-box-header">
              <i class="fa fa-cube fa-2x pull-left" ></i>
              <h5><b>Méthodes de Management des Projets</b></h5>
            </div>
            <div class="mail-box">
              <table class="table table-hover table-mail">
              <tbody>
              <tr class="read">
                  <td class="mail-ontact"><a>Scrum</a></td>
                  <td class="mail-subject">
                  <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:80%">
                  </div>
                  </div>
                  </td>
              </tr>
              <tr class="read">
                  <td class="mail-ontact"><a>Kanban</a></td>
                  <td class="mail-subject">
                  <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:90%">
                  </div>
                  </div>
                  </td>
              </tr>
              </tbody>
              </table>
              </div>
       </div>
       </div>
       <div class="col-sm-6">
       <div class="ibox">
            <div class="mail-box-header">
              <i class="fa fa-cube fa-2x pull-left" ></i>
              <h5><b>Méthodes de Conception et d’Analyses</b></h5>
            </div>
            <div class="mail-box">
              <table class="table table-hover table-mail">
              <tbody>
              <tr class="read">
                  <td class="mail-ontact"><a>UML</a></td>
                  <td class="mail-subject">
                  <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:80%">
                  </div>
                  </div>
                  </td>
              </tr>
              <tr class="read">
                  <td class="mail-ontact"><a>Design Pattern</a></td>
                  <td class="mail-subject">
                  <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
                  </div>
                  </div>
                  </td>
              </tr>
              </tbody>
              </table>
              </div>
       </div>
       </div>
       </div>
</div>
</div>
</div>
