<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-11">
  <div class="ibox-content inspinia-timeline">
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-7 date">
                  <i class="fa fa-suitcase"></i>
                  <h6>01/02/2016 – 15/07/2016</h6>
                  <small class="text-primary"><b>Stage PFE</b></small>
              </div>
              <div class="col-sm-10 content no-top-border">
                  <p class="m-b-xs"><strong>MITDEV : Maghreb IT Dev &nbsp;&nbsp;<i class="fa fa-map-marker"></i> &nbsp;Casablanca;Maroc</strong></p>
                  <br>
                  <p><b>Sujet :</b> &nbsp;&nbsp; Conception et mise en place d'une plate-forme de recrutement dédié au secteur d’activité de technologie d’informations IT avec la nouvelle technologie JavaScript de developpement web MEAN Stack</p>
                  <p><b>Technologies utilisé : </b>
                    <span class="badge badge-info">MongoDB</span>
                    <span class="badge">Express</span>
                    <span class="badge badge-warning">AngularJs</span>
                    <span class="badge badge-success">NodeJs</span>
                  </p>
              </div>
          </div>
      </div>
      <hr>
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-7 date">
                  <i class="fa fa-suitcase"></i>
                  <h6>01/07/2015 – 01/10/2015</h6>
                  <small class="text-primary"><b>Stage Recherche</b></small>
              </div>
              <div class="col-sm-10 content no-top-border">
                  <p class="m-b-xs"><strong>CINI : Laboratoire de Recherche Informatique &nbsp;&nbsp;<i class="fa fa-map-marker"></i> &nbsp;Naple;Italie</strong></p>
                  <br>
                  <p><b>Sujet :</b> &nbsp;&nbsp;Analyse des bogues dans le système d’exploitation d’Android par analyse des rapports de bogues dans BugZilla</p>
                  <p><b>Technologies utilisé : </b>
                    <span class="badge badge-info">Python</span>
                    <span class="badge badge-success">Script Shell</span>
                    <span class="badge ">Langage C</span>
                  </p>
              </div>
          </div>
      </div>
      <hr>
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-7 date">
                  <i class="fa fa-suitcase"></i>
                  <h6>01/07/2014 – 01/08/2014</h6>
                  <small class="text-primary"><b>Stage</b></small>
              </div>
              <div class="col-sm-10 content no-top-border">
                  <p class="m-b-xs"><strong>FSTS : Faculté de sciences et techniques &nbsp;&nbsp;<i class="fa fa-map-marker"></i> &nbsp;Settat;Maroc</strong></p>
                  <br>
                  <p><b>Sujet :</b> &nbsp;&nbsp;Developpemnt d'unr application Web de gestion des systèmes de gestion de base de données nommée EDBM Easy DataBase Management permettant de faciliter la manupilation des données des bases de donnée MySQL</p>
                  <p><b>Technologies utilisé : </b>
                    <span class="badge badge-info">bootstrap</span>
                    <span class="badge badge">php</span>
                    <span class="badge badge-warning">MySQL</span>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
