<br>
<br>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-11">
  <div class="ibox-content inspinia-timeline">
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-7 date">
                  <i class="fa fa-suitcase"></i>
                  <h6>Février – Juillet 2016</h6>
                  <small class="text-primary"><b>Stage PFE</b></small>
              </div>
              <div class="col-sm-10 content no-top-border">
                  <p class="m-b-xs"><strong>MITDEV : Med IT Dev &nbsp;&nbsp;<i class="fa fa-map-marker"></i> &nbsp;Casablanca;Maroc</strong></p>
                  <br>
                  <p><b>Sujet :</b> &nbsp;&nbsp; Mise en place d'une plateforme de recrutement innovante  permettant aux entreprises du
                   secteur de Technologie d’Informations IT de chercher des profils qualifiés pour un emploi donné.</p>
                  <p><b>Technologies utilisé (MEAN Stack) : </b>
                    <span class="badge badge-info">MongoDB</span>
                    <span class="badge">Express</span>
                    <span class="badge badge-warning">AngularJs</span>
                    <span class="badge badge-success">NodeJs</span>
                  </p>
              </div>
          </div>
      </div>
      <hr>
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-7 date">
                  <i class="fa fa-suitcase"></i>
                  <h6>Juillet – Octobre 2015</h6>
                  <small class="text-primary"><b>Stage Recherche</b></small>
              </div>
              <div class="col-sm-10 content no-top-border">
                  <p class="m-b-xs"><strong>CINI : Laboratoire de Recherche Informatique &nbsp;&nbsp;<i class="fa fa-map-marker"></i> &nbsp;Naple;Italie</strong></p>
                  <br>
                  <p><b>Sujet :</b> &nbsp;&nbsp;Etude  de la qualité  du  système  d’exploitation  d’Android  par analyse des rapports de bogues  tirés 
                        du Android Issues-Tracker rapportés par les utilisateurs et les développeurs des appareils d’Android. </b>
                    <p><b>Technologies utilisé : </b>
                    <span class="badge badge-info">Python</span>
                    <span class="badge badge-success">Script Shell</span>
                    <span class="badge ">Langage C</span>
                  </p>
              </div>
          </div>
      </div>
      <hr>
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-7 date">
                  <i class="fa fa-suitcase"></i>
                  <h6>Juillet – Aout 2014</h6>
                  <small class="text-primary"><b>Stage</b></small>
              </div>
              <div class="col-sm-10 content no-top-border">
                  <p class="m-b-xs"><strong>FSTS : Faculté de sciences et techniques &nbsp;&nbsp;<i class="fa fa-map-marker"></i> &nbsp;Settat;Maroc</strong></p>
                  <br>
                  <p><b>Sujet :</b> &nbsp;&nbsp;Réalisation  d'une application  Web  de  gestion  des  systèmes  de  gestion  de  base  de  données 
MySQL similaire à phpMyAdmin   via une interface intuitive facilitant le traitement des données.</p>
                  <p><b>Technologies utilisé : </b>
                    <span class="badge badge-info">bootstrap</span>
                    <span class="badge badge">php</span>
                    <span class="badge badge-warning">MySQL</span>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
