<br>
<br>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-11">
  <div class="ibox-content inspinia-timeline">
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-5 date">
                  <i class="fa fa-mortar-board"></i>
                  <b>2013-2016</b>
              </div>
              <div class="col-sm-7 content no-top-border">
                  <p class="m-b-xs"><strong>Cycle d’Ingénieur d’Etat en informatique</strong></p>

                  <p>Cycle d’Ingénieur d’Etat génie informatique option génie logiciel à la Faculté de
                      Sciences et Téchniques de Settat FSTS</p>
              </div>
          </div>
      </div>
      <hr>
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-5 date">
                  <i class="fa fa-mortar-board"></i>
                  <b>2012- 2013</b>
              </div>
              <div class="col-sm-7 content no-top-border">
                  <p class="m-b-xs"><strong>Licence Génie Civil</strong></p>

                  <p> Licence en Génie Civil à la Faculté de
                      Sciences et Téchniques de Settat FSTS</p>
              </div>
          </div>
      </div>
      <hr>
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-5 date">
                  <i class="fa fa-mortar-board"></i>
                  <b>2010- 2012</b>
              </div>
              <div class="col-sm-7 content no-top-border">
                  <p class="m-b-xs"><strong>DEUST</strong></p>

                  <p>DEUST Diplôme Etudiant Universitaire en Sciences et Techniques parcours MIP
                    (Mathématique Informatique Physique) à la Faculté de
                      Sciences et Téchniques de Settat FSTS</p>
              </div>
          </div>
      </div>
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-5 date">
                  <i class="fa fa-mortar-board"></i>
                  <b>Juin 2010</b>
              </div>
              <div class="col-sm-7 content no-top-border">
                  <p class="m-b-xs"><strong>Baccalauréat</strong></p>

                  <p>Baccalauréat option physique lycée Ibn Abdoun Khouribga</p>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
