<div class="column">
  <div class="widget contact">
    			<h3 class="widget-title">
                Formulaire de contact
        </h3>
        <p>Contact me to know more information.</p></h3>
        <form role="form" name="form">
                  <div class="form-group"><label>first name</label> <input ng-model="nom" class="form-control" type="text" placeholder="Your first name" required class="form-control"></div>
                  <div class="form-group"><label>last name</label> <input ng-model="prenom" class="form-control" type="text" placeholder="Your last name" required class="form-control"></div>
                  <div class="form-group"><label>email</label> <input ng-model="email" class="form-control" type="email" placeholder="your email" required class="form-control"></div>
                  <div class="form-group"><label>subject</label> <input ng-model="sujet" class="form-control" type="text" placeholder="your subject" required class="form-control"></div>
                  <div class="form-group"><label>message</label> <textarea ng-model="message" type="text" rows="3" placeholder="your message" required class="form-control"></textarea></div>
	  </div>
    </form>
    <div class="col-sm-5 pull-right">
        <a class="btn btn-rounded btn-block btn-primary " 
        href="mailto:ayoub1992fst@gmail.com?subject={{sujet}}&body={{message}}" ><strong><i class="fa fa-mail-forward "></i>&nbsp;Envoyer</strong></a>
    </div>
</div>
