<br>
<br>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-11">
  <div class="ibox">
       <div class="mail-box-header">
         <i class="fa fa-arrow-circle-o-right pull-left fa-2x"></i>
         <h3><b>Language</b></h3>
         </div>
  <div class="mail-box">
    <table class="table table-hover table-mail">
    <tbody>
    <tr class="read">
        <td class="mail-ontact"><a><i class="fa fa-language"></i>&nbsp;<b>Arabe</b></a></td>
        <td>
          <span>Read&nbsp;:&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
        </td>
        <td>
          <span>Speak&nbsp;:&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
        </td>
        <td>
          <span>Write&nbsp;:&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
        </td>
    </tr>
    <tr class="read"></tr>
    <tr class="read">
        <td class="mail-ontact"><a><i class="fa fa-language"></i>&nbsp;<b>Français</b></a></td>
        <td>
          <span>Read&nbsp;:&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
        </td>
        <td>
          <span>Speak&nbsp;:&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
        </td>
        <td>
          <span>Write&nbsp;:&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
        </td>
    </tr>
    <tr class="read"></tr>
    <tr class="read">
        <td class="mail-ontact"><a><i class="fa fa-language"></i>&nbsp;<b>Anglais</b></a></td>
        <td>
          <span>Read&nbsp;:&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
        </td>
        <td>
          <span>Speak&nbsp;:&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
        </td>
        <td>
          <span>Write&nbsp;:&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
        </td>
    </tr>
    <tr class="read"></tr>
    <tr class="read">
        <td class="mail-ontact"><a><i class="fa fa-language"></i>&nbsp;<b>Italien</b></a></td>
        <td>
          <span>Read&nbsp;:&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
        </td>
        <td>
          <span>Speak&nbsp;:&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
        </td>
        <td>
          <span>Write&nbsp;:&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
        </td>
    </tr>
  </tbody>
  </table>
  </div>
  </div>
  <div class="ibox">
       <div class="mail-box-header">
         <i class="fa fa-arrow-circle-o-right pull-left fa-2x"></i>
         <h3><b>Para-universitaire</b></h3>
         </div>
  <div class="mail-box">
        <table class="table table-hover table-mail">
        <tbody>
        <tr class="read">
            <td class="mail-ontact"><i class="fa fa-globe"></i>&nbsp;&nbsp;<a>Membre de club de techno-partage et développement estudiantin (CTDE) à la FSTS</a></td></tr>
        <tr class="read">
            <td class="mail-ontact"><i class="fa fa-globe"></i>&nbsp;&nbsp;<a>Chef cellule CTDE- IQRAA ( Cours de soutien pour les enfants de l’orphelinat)</a></td></tr>
        <tr class="read">
            <td class="mail-ontact"><i class="fa fa-globe"></i>&nbsp;&nbsp;<a>Organisation du Forum d’Entreprise FEF à la FST de SETTAT</a></td></tr>
        </tr>
      </tbody>
      </table>
  </div>
  </div>
  <div class="ibox">
     <div class="mail-box-header">
       <i class="fa fa-arrow-circle-o-right pull-left fa-2x"></i>
       <h3><b>Other</b></h3>
       </div>
  <div class="mail-box">
    <table class="table table-hover table-mail">
    <tbody>
    <tr class="read">
        <td class="mail-ontact"><i class="fa fa-automobile"><a><b></i>&nbsp;&nbsp;carlicence</b></a></td>
        <td class="mail-ontact"><i class="fa fa-road"><a><b></i>&nbsp;&nbsp;mobility</b></a></td>
    </tr>
  </tbody>
  </table>
    </div>
  </div>
</div>
