<br>
<br>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-11">
  <div class="ibox-content inspinia-timeline">
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-5 date">
                  <i class="fa fa-mortar-board"></i>
                  <b>2015-2016</b>
              </div>
              <div class="col-sm-7 content no-top-border">
                  <p class="m-b-xs"><strong>QuestionAndAnswer</strong></p>
                  <p>Conception et mise en oeuvre d'un application Web de Stack Exchange Q&A (Jave/JEE) à l'aide du SpringMVC Framework et Hibernate</p>
              </div>
          </div>
      </div>
      <hr>
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-5 date">
                  <i class="fa fa-mortar-board"></i>
                  <b>2014- 2015</b>
              </div>
              <div class="col-sm-7 content no-top-border">
                  <p class="m-b-xs"><strong>Instantaneous Messenger</strong></p>

                  <p>Développemnt d'une application Desktop de messagerie en C/C++ et Java (Socket) à l'aide du Framework QT</p>
              </div>
          </div>
      </div>
      <hr>
      <div class="timeline-item">
          <div class="row">
              <div class="col-sm-5 date">
                  <i class="fa fa-mortar-board"></i>
                  <b>2013-2014</b>
              </div>
              <div class="col-sm-7 content no-top-border">
                  <p class="m-b-xs"><strong>Easy DataBase Managemnet EDBM</strong></p>

                  <p>Réalisation d'un application Web de gestion de base de données MySQL –EDBM- (en PHP) similaire à PhpMyAdmin</p>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
